{% extends 'GameBundle::Admin/index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }} :<br>
    {% for r in ressources %}
        <a href="{{ path('game_admin_ressource_edit', {'id': r.id}) }}">{{ r.name }}</a><br>
    {% endfor %}
{% endblock %}