{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }} {{ town.name }} :<br>
    habitant : {{ town.resident }}<br>
    Point: {{ town.point }}<br>

    <strong>Les batiments de ressource disponible :</strong><br>
    {% for b in buildingProducts %}
        <a href="{{ path('game_town_building_view', {'id': b.id}) }}">{{ b.name }}</a>
        <br>
    {% endfor %}


{% endblock %}