{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    Vous avez actuellement {{ infTown }} {{ infantry.name }}.<br>
    Et {{ infInBuild }} en formation.
    <br><br>
    {{ infantry.name }} : <br>
    <table>
        <tr>
            <td>Attaque</td><td>Défense</td><td>Pierre</td><td>Bois</td><td>Fer</td><td>Nourriture</td><td>Temps formation (mn)</td>
        </tr>
        <tr>
            <td>{{ infantry.atk }}</td><td>{{ infantry.defense }}</td>
            {% for r in infantry.ressources %}
                <td>{{ r.nb }}</td>
            {% endfor %}
        <td>{{ infantry.time }}</td>
        </tr>
    </table>
    Recrutez en ici :

    {{ form_start(form) }}<br>
    {{ form_widget(form) }}<br>
    <input type="submit" class="button" value="Submit" />
    {{ form_end(form) }}

{% endblock %}