{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ dump(building) }}
    <strong>{{ title }}</strong><br>
    <i>{{ building.buildingType.descr }}</i><br>
    + {{ building.addHabitant }} habitants<br>
    + {{ building.addPoint }} points<br>
    {% if building.buildingType.isRessource %}
        + {{ building.add }} de production<br>
    {% endif %}
    <br>
    <strong>Ressource nécessaire</strong><br>
    <table>
        <tr>
            <td>Pierre</td><td>Bois</td><td>Fer</td><td>Nourriture</td>
        </tr>
        <tr>
            {% for r in building.ressources %}
                <td>{{ r.nb }}</td>
            {% endfor %}
        </tr>
    </table>
    <strong>Batiments requis :</strong><br>
    {% if building.required is empty %}
        Aucun<br>
    {% else %}
        {% for b in building.required %}
            {{ b.buildingFather.name }}<br>
        {% endfor %}
    {% endif %}
    <br>
    <strong>Batiments père :</strong><br>
    {% if building.buildingFather is empty %}
        Aucun<br>
    {% else %}
        {% for b in building.buildingFather %}
            {{ b.buildingChild.name }}<br>
        {% endfor %}
    {% endif %}
    <br><br>
    {% if exist %}
        <strong>Vous avez déjà ce batiment.</strong>
    {% else %}
        {% if requis %}
            <a href="{{ path('game_town_building_build', {'id': id}) }}">Construire</a>
        {% else %}
            <strong>Il vous manque des ressources pour pouvoir construire ce batiment</strong>
        {% endif %}
    {% endif %}

{% endblock %}
