{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }}<br><br>
    {% if townBuilding.lvl is defined and townBuilding.lvl is not empty %}
        Vous possedez {{ building.name }} au lvl {{ townBuilding.lvl }}<br>
        {% if infantry is not empty %}
            <i><a href="{{ path('game_building_infantry', {'id': infantry.id}) }}">Information sur vos {{ infantry.name }}</a></i>
        {% endif %}
    {% else %}
        Vous ne possedez pas {{ building.name }}<br>
    {% endif %}
    <br>
    <table>
        <tr>
            <td>lvl</td><td>nom</td><td>Habitants</td><td>points</td>
            {% if building.isRessource == true %}
                <td>ajout</td>
            {% endif %}
            <td>Pierre</td><td>Bois</td><td>Fer</td><td>Nourriture</td><td>Information</td>
            <td>Construire</td>
        </tr>
        {% for b in building.buildings %}
            <tr>
                <td>{{ b.lvl }}</td>
                <td>{{ building.name }}</td>
                <td>{{ b.addHabitant }}</td>
                <td>{{ b.addPoint }}</td>
                {% if building.isRessource == true %}
                    <td>{{ b.add }}</td>
                {% endif %}
                {% for r in b.ressources %}
                    <td>{{ r.nb }}</td>
                {% endfor %}
                {% if townBuilding.lvl is defined and b.lvl == townBuilding.lvl+1 or townBuilding.lvl is not defined and b.lvl == 1 or townBuilding is empty %}
                    <td><a href="{{ path('game_town_building_view_specific', {'id': b.id}) }}">Information</a></td>
                    <td><a href="{{ path('game_town_building_build', {'id': b.id}) }}">Construire</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}