{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}
<style>
    table
    {
        border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    }
    td
    {
        border: 1px solid black;
    }
</style>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }}:<br><br>
    {{ dump(townBuilding) }}
    <table>
        <tr>
            <td>lvl</td><td>nom</td><td>Habitants</td><td>points</td><td>production</td><td>ajout</td><td>Pierre</td><td>Bois</td><td>Fer</td><td>Nourriture</td>
        </tr>
        {% for b in building.buildings %}
            <tr>
                <td>{{ b.lvl }}</td>
                <td>{{ building.name }}</td>
                <td>{{ b.addHabitant }}</td>
                <td>{{ b.addPoint }}</td>
                <td>{{ b.add }}</td>
                {% for r in b.ressources %}
                    <td>{{ r.nb }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}