{% extends 'GameBundle::Admin/index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }} :<br>
    <a href="{{ path('game_admin_element_add') }}">Ajouter un élément</a><br>
    <a href="{{ path('game_admin_element_list') }}">Liste</a>
{% endblock %}