{% extends 'GameBundle::Admin/index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }} :<br>
    {% for r in infantrys %}
        <a href="{{ path('game_admin_infantry_edit', {'id': r.id}) }}">{{ r.name }}</a> {{ r.atk }} {{ r.defense }}<br>
    {% endfor %}
{% endblock %}