{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Vous êtes sur l'accueil du support</h2>
    <strong>Vous pouvez écrire un ticket pour demander de l'aide au staff.</strong><br><br>
    <a href="{{ path('minegame_support_create_ticket') }}">Nouveau ticket</a><br><br>

    <table>
        <tr>
            <td>Id</td><td>Titre</td><td>Type</td><td>Dernière réponse</td><td></td>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.type.title }}</td>
                <td>{% if ticket.messages.last is not empty %}
                        {{ ticket.messages.last.user.username }}
                    {% else %}
                        Personne...
                    {% endif %}
                </td>
                <td><a href="{{ path('minegame_support_response', {'id': ticket.id}) }}">Voir</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}