{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <li><a href="{{ path('game_admin_ressource') }}">Gestion ressource</a></li>
    <li><a href="{{ path('game_admin_building') }}">Gestion des batiments</a></li>
    <li><a href="{{ path('game_admin_building_ressource') }}">Gestion des ressources construction batiments</a></li>
    <li><a href="{{ path('game_admin_infantry') }}">Gestion des unités</a></li>
{% endblock %}

{% block body %}
    Bienvenue {{ username }} sur l'accueil du panel d'administration.

{% endblock %}