{% extends 'GameBundle::Admin/index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }} :<br>
    <br>
    <br>
    <a href="{{ path('game_admin_building_required_add', {'id': building.id}) }}">Ajouter des prérequis pour construire {{ building.name }}</a>
    {{ form_start(form) }}<br>
    {{ form_widget(form) }}<br>
    <input type="submit" class="button" value="Submit" />
    {{ form_end(form) }}
{% endblock %}
