{% extends 'GameBundle::Admin/index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }} :<br>
    Ressource déjà associé :<br>
    {% for r in buildingRessource %}
        {{ r.nb }} <strong>{{ r.ressource.name }}</strong> <a href="{{ path('game_admin_building_ressource_delete', {'id': r.id}) }}">Supprimer</a><br>
    {% endfor %}
    <br>
    <br>
    <a href="{{ path('game_admin_building_required_add', {'id': building.id}) }}">Ajouter des prérequis pour construire {{ building.name }}</a>
    {{ form_start(form) }}<br>
    {{ form_widget(form) }}<br>
    <input type="submit" class="button" value="Submit" />
    {{ form_end(form) }}
{% endblock %}
