{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }}:<br><br>
        <h3>{{ clan.name }}</h3><br>
        {% if user.clan is empty %}
            {% if clan.candidatures is empty %}
                <a href="{{ path('game_clan_candidature', {'id': clan.id}) }}">Écrire une candidature</a><br>
            {% else %}
                <strong>Ma candidature :</strong><br>
                {{ clan.candidatures[0].texte }}<br>
            {% endif %}
        {% elseif user.clan.clan.id != clan.id %}
            <a href="{{ path('game_clan_ally_candidature', {'id': clan.id}) }}">Demande alliance</a><br>
        {% endif %}

        {{ clan.name }} :<br>
        {{ clan.texte }}<br><br>

        Liste des membres : <br>
        {% for u in clan.users %}
            {{ u.user.username }}<br>
        {% endfor %}

{% endblock %}