{% extends 'GameBundle::index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }}:<br><br>

    {% for c in clans %}
        <a href="{{ path('game_clan_info', {'id': c.id}) }}">{{ c.name }}</a><br>
    {% endfor %}


{% endblock %}