{% extends 'GameBundle::Admin/index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ title }} :<br>

    {% for r in buildings %}
        LVL {{ r.lvl }} <a href="{{ path('game_admin_building_edit', {'id': r.id}) }}">{{ r.buildingType.name }}</a>
        <a href="{{ path('game_admin_building_ressource_list_id', {'id': r.id}) }}">Ressource nécessaire</a><br>
    {% endfor %}
{% endblock %}