<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('foundation/css/app.css') }}">

    <title>{% block title %}WOS | {#{{ title }}#}{% endblock %}</title>
</head>
<body>

{{ include('GameBundle::infoUser.html.twig') }}

{% block sidebar %}
    {{ include('GameBundle::menu.html.twig') }}
{% endblock %}

<!-- Ressource -->
{{ include('GameBundle::ressource.html.twig') }}

<div id="content" class="row">
    {% block body %}{% endblock %}
</div>
</body>

{% block js %}
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="{{ asset('foundation/bower_components/what-input/what-input.js')}}"></script>
    <script src="{{ asset('foundation/bower_components/foundation-sites/dist/foundation.js') }}"></script>
    <script src="{{ asset('foundation/js/app.js') }}"></script>
{% endblock %}

</html>
