<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        table
        {
            border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
        }
        td
        {
            border: 1px solid black;
        }
    </style>W
    <title>{% block title %}WOS | {{ title }}{% endblock %}</title>
</head>
<body>
<h1>{{ title }}</h1>
<div id="sidebar">
    <!-- Info joueur -->
    Pseudo : {{ user.username }}<br>
    {% if town is not empty or ressource is not empty %}
        Village : {{ town.name }}<br>
        Habitant : {{ town.resident }}<br>
        Points : {{ town.point }}<br><br>



        <!-- Affichage des ressources -->
        {% for r in ressources %}
            {{ r.ressource.name }} : {{ r.nb|round(1, 'floor') }}/{{ r.stock + r.ressource.stock }} gain {{ r.add + r.ressource.add}} par heure <br>
        {% endfor %}
    {% endif %}

    {% block sidebar %}
        <ul>
            <li><a href="{{ path('game_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('game_homepage') }}">Mon village</a></li>
            <li><a href="{{ path('game_building') }}">Vos batiments</a></li>
            <li><a href="{{ path('game_admin') }}">Admin</a></li>

    {% endblock %}
        </ul>
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>